.lane-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}


.lane-page .seo {
  height: 50px;
  background-color: #2a336b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lane-page .agibank {
  position: relative;
  margin-top: -2.00px;
  margin-left: -1.00px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Inter-Black", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1.7rem,3vw,2.1rem);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .text-wrapper {
  font-weight: 900;
}

.lane-page .span {
  font-family: "Inter-Regular", Helvetica;
}

.lane-page .div {
  padding: clamp(40px, 8vw, 120px) clamp(20px, 5vw, 100px);
  flex: 0 0 auto;
  background: linear-gradient(
    180deg,
    rgba(50, 60, 121, 1) 31%,
    rgba(59, 71, 143, 1) 65%,
    rgba(59, 71, 143, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lane-page .bolinhas {
  display: flex;
  width: 100%;
  align-items: center;
  gap: clamp(8px, 2vw, 20px);
  position: relative;
}

.lane-page .ellipse,
.lane-page .ellipse-2,
.lane-page .ellipse-3 {
  width: clamp(15px, 2.5vw, 35px);
  height: clamp(15px, 2.5vw, 35px);
  border-radius: 50%;
  position: relative;
}

.lane-page .ellipse {
  background-color: #995262;
}

.lane-page .ellipse-2 {
  background-color: #b28b76;
}

.lane-page .ellipse-3 {
  background-color: #4b6e5a;
  opacity: 0.5;
}


.lane-page .servidor-p-blico-uma {
  position: relative;
  width: fit-content;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: clamp(2rem,3vw,5rem);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .p {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .frame-3 {
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lane-page .cara {
    width: clamp(300px, 40vw, 600px);
    left: clamp(-50px, -8vw, -112px);
}


.lane-page .frame-wrapper {
    padding: clamp(40px, 8vw, 120px) clamp(20px, 8vw, 390px);
    width: 100%;
    background: linear-gradient(360deg, rgba(50, 60, 121, 1) 0%, rgba(59, 71, 143, 1) 100%);
    margin: 0 auto;
}


.lane-page .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-bottom: 50px;
  flex: 1;
  flex-grow: 1;
}


.lane-page .aproveite-os-benef-wrapper {
    width: 100%;
    margin: 0 auto;
}


.lane-page .text-wrapper-2 {
  position: relative;
  width: 100%;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 3.5rem);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lane-page .fale-com-um-de {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .text-wrapper-3 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
}

.lane-page .text-wrapper-4 {
  font-size: 13px;
}


.lane-page .seo-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: clamp(20px, 5vw, 42px);
  padding: clamp(20px, 5vw, 50px) clamp(20px, 8vw, 100px);
  background-color: #323c79;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .taxas-a-partir-de-wrapper,
.lane-page .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: clamp(8px, 2vw, 20px);
  padding: clamp(5px, 5vw, 20px) clamp(5px, 8vw, 20px);
  background-color: #4c6f5c;
  border-radius: 20px;
}

.lane-page .taxas-a-partir-de,
.lane-page .pagamento-em-at,
.lane-page .margem-de-contrata-o {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: clamp(10px, 4vw, 30px);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width: 768px) {
  .lane-page .seo-2 {
    flex-direction: column;
    gap: clamp(10px, 5vw, 20px);
  }
}


.lane-page .seo-3 {
  padding: 50px 100px 10px;
  flex: 0 0 auto;
  background: linear-gradient(
    180deg,
    rgba(50, 60, 121, 1) 0%,
    rgba(59, 71, 143, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .frame-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.lane-page .seo-4 {
  gap: 42px;
  padding: 20px 100px 120px;
  flex: 0 0 auto;
  background: linear-gradient(
    180deg,
    rgba(59, 71, 143, 1) 0%,
    rgba(71, 85, 172, 1) 50%,
    rgba(92, 111, 223, 1) 100%
  );
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .banner-ofertas {
  width: clamp(300px, 40vw, 600px);
  left: clamp(-50px, -8vw, -112px);
}


.lane-page .oferecemos-as {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: clamp(2rem,3vw,5rem);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .seo-5 {
  padding: 50px 100px 10px;
  flex: 0 0 auto;
  background-color: #5c6edf;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.lane-page .seo-6 {
  gap: 60px;
  padding: 120px 100px;
  background: linear-gradient(
    180deg,
    rgba(92, 111, 223, 1) 0%,
    rgba(50, 60, 121, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lane-page .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.lane-page .casa {
  position: relative;
  width: clamp(140px, 10vw, 200px);
  height: clamp(140px, 10vw, 200px);
}

.lane-page .reforma-de-casa {
  position: relative;
  width: fit-content;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(24px, 4vw, 40px);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  position: relative;
}

.lane-page .ferramt {
  position: relative;
  width: clamp(100px, 8vw, 170px);
  height: clamp(100px, 8vw, 166px);
}

.lane-page .conserto-de-carro {
  position: relative;
  width: fit-content;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(24px, 4vw, 40px);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  position: relative;
}

.lane-page .diploma {
  position: relative;
  width: clamp(120px, 10vw, 200px);
  height: clamp(100px, 9vw, 188px);
}

.lane-page .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(24px, 4vw, 40px);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  position: relative;
}

.lane-page .healthy {
  position: relative;
  width: clamp(100px, 8vw, 176px);
  height: clamp(100px, 8vw, 176px);
}


.lane-page .seo-7 {
  padding: 10px 100px;
  flex: 0 0 auto;
  background-color: #323c79;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .quer-agilidade-em {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 3.5rem);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.lane-page .seo-8 {
  padding: 30px 100px 120px;
  flex: 0 0 auto;
  background: linear-gradient(
    180deg,
    rgba(50, 60, 121, 1) 0%,
    rgba(34, 43, 94, 1) 96%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .tudo-que-precisa-na {
  position: relative;
  width: fit-content;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 3.5rem);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  flex-direction: column;
}

.lane-page .text-girl {
  position: relative;
  width: fit-content;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: clamp(2rem,3vw,5rem);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .text-wrapper-7 {
  font-family: "Inter-Regular", Helvetica;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.lane-page .loira-prof {
  position: relative;
  width: clamp(500px, 50vw, 900px);
}

.lane-page .seo-9 {
  gap: 42px;
  padding: 20px 100px 120px;
  flex: 0 0 auto;
  background-color: #222b5e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.lane-page .illustrative {
  position: relative;
  width: 734px;
  height: 628.86px;
  object-fit: cover;
}

.lane-page .frame-11 {
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lane-page .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 53px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.lane-page .rua-elmano-soares-wrapper {
  display: flex;
  width: 443px;
  height: 131px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 66px;
  position: relative;
  background-color: #4c6f5c;
}

.lane-page .rua-elmano-soares {
  position: relative;
  width: fit-content;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
